* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: #2b243d;
  font-family: 'Poppins', sans-serif;
}

button{
  border: none;
  margin: 0rem;
  cursor: pointer;
}

input {
  border: none;
}